blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.*
nytprof.out
pm_to_blib
# Ignore TAP results
results
# Ignore pds-core libraries
vendor/pds-core
# Ignore wiki repo
wiki
# Ignore SASS cache
.sass-cache
# Ignore image/icons
assets/image/icons-*.png
# Ignore compass css files
assets/css