<!DOCTYPE html>
<html>
  <head>
    <title>BobCat</title>
  </head>
  <body>
    <div class="nyu-container">
      <div class="container-fluid">
        <div class="row-fluid">
          {{ test }}
          Please login to access library services.
        </div>
      </div>
    </div>
  </body>
</html>