<section class="nyu-container container-fluid">
  <div class="row-fluid">
    <div class="span5 well">
      {{> ../common/form }}
      {{> help/more_info }}
    </div>
    <div class="span5 well">
      {{> ../common/shib }}
      {{> help/more_info }}
    </div>
  </div>
</section>
{{> ../common/help/privileges }}
