<div class="span4 offset1 well">
  {{> ../common/shib }}
</div>
<div class="span4 well">
  {{> ../common/form }}
  {{> ../common/help/authentication }}
  {{> ../common/help/additional_information }}
</div>
