<!DOCTYPE html>
<html>
  <head>
    {{> ../common/meta}}
  </head>
  <body>
    {{> ../common/header }}
    {{> ../common/nav }}
    <div class="nyu-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <h1>Please login to access library services.</h1>
          </div>
          {{> body }}
        </div>
      </div>
    </div>
    {{> ../common/footer }}
  </body>
</html>
