<div>
  <h3>Additional information:</h3>
  <ul class="unstyled">
    <li><a href="http://library.cooper.edu/Logininfo.html" target="_blank">Cooper Union</a></li>
    <li><a href="http://library.newschool.edu/login/ns" target="_blank">New School</a></li>
    <li><a href="http://library.nysid.edu/library" target="_blank">NYSID</a></li>
  </ul>
</div>
