<div>
  <h3>Additional information:</h3>
  <ul>
    <li><a href="http://library.nyu.edu/help/proxy.html" target="_blank">NYU</a></li>
    <li><a href="http://library.poly.edu/research/access/nyu" target="_blank">NYU-Poly</a></li>
    <li><a href="http://library.nyu.edu/ask/" target="_blank">Ask a Librarian</a></li>
  </ul>
</div>
