<section>
  <h3>
    Library services vary by institution. Please see the
    <a href="https://web1.library.nyu.edu/privileges_guide/" target="_blank">NYU Libraries Privileges Guide</a>.
  </h3>
</section>
