<section class="container-fluid">
  <div class="row-fluid">
    <div class="span5 well">
      {{> ../common/shib }}
    </div>
    <div class="span5 well">
      {{> ../common/form }}
      {{> ../common/help/authentication }}
      {{> ../common/help/more_info }}
    </div>
  </div>
</section>
{{> ../common/help/privileges }}
