<h2>
  {{form_title}}
  <a class="nyulibraries-help-snippet" href="https://library.nyu.edu/info/bobcat/no_netid.html" target="_blank">
    <i class="icons-famfamfam-help"></i>
  </a>
</h2>
<form id="nyu_pds_login_form" action="{{form_action}}" method="post">
  <fieldset>
    {{#error}}
    <div class="alert alert-error">{{error}}</div>
    {{/error}}
    <input type="hidden" name="func" value="login" />
    <input type="hidden" name="calling_system" value="{{calling_system}}" />
    <input type="hidden" name="institute" value="{{institute_key_uc}}" />
    <input type="hidden" name="term1" value="short" />
    <input type="hidden" name="selfreg" value="" />
    <input type="hidden" name="url" value="{{target_url}}" />
    <input type="hidden" name="pds_handle" value="{{session_id}}" />
    <label for="bor_id">{{username_label}}</label>
    <input id="bor_id" type="text" name="bor_id" value="{{id}}" placeholder="{{username_placeholder}}" />
    <label for="bor_verification">{{password_label}}</label>
    <input id="bor_verification" type="password" name="bor_verification" placeholder="{{password_placeholder}}" /><br/ >
    <button type="submit" class="btn">Login</button>
  </fieldset>
</form>
