<form id="nyu_pds_login_form" class="loginBox" action="/pds" method="post">
  <fieldset>
    <h2>Consortium &amp; NYU Users <br />without a NetID
      <a href="https://library.nyu.edu/info/bobcat/no_netid.html" class="help nyulibrary_icons_information nyulibrary_help" target="_blank">&nbsp;<span>info</span></a></h2>
    <p class="error">{{error}}</p>
    <input type="hidden" name="func" value="login" />
    <input type="hidden" name="calling_system" value="{{calling_system}}" />
    <input type="hidden" name="institute" value="{{institute_key}}" />
    <input type="hidden" name="term1" value="short" />
    <input type="hidden" name="selfreg" value="{{self_url}}" />
    <input type="hidden" name="url" value="{{target_url}}" />
    <input type="hidden" name="pds_handle" value="{{session_id}}" />
    <label for="bor_id">Enter your ID Number</label>
    <input id="bor_id" type="text" name="bor_id" value="" /><br />
    <label for="bor_verification">Password or first four letters of your last name</label>
    <input id="bor_verification" type="password" name="bor_verification" /><br />
    <input type="submit" value="Login" />
  </fieldset>
  <div class="login_help">
    <a href="https://library.nyu.edu/info/bobcat/no_netid.html" target="_blank">Login help without an NYU NetID</a>
  </div>
  <div id="nyu_pds_nonetid_note" class="login_note">
    <h3>Additional information:</h3>
    <ul>
      <li><a href="http://library.cooper.edu/" target="_blank">Cooper Union</a></li>
      <li><a href="http://library.newschool.edu/login/ns" target="_blank">New School</a></li>
      <li><a href="http://nysidlibrary.org/logging-into-bobcat" target="_blank">NYSID</a></li>
    </ul>
  </div>
</form>
