<header id="header" class="header">
  <div class="parent"><a href="{{parent_url}}"><span>{{parent}}</span></a></div>
  <div class="suite"><span>{{bobcat_title}}</span></div>
  <div class="application"><span>{{application_title}}</span></div>
</header>
