<header id="header" class="header">
  <div class="parent"><a href="{{parent_url}}"><span>{{parent}}</span></a></div>
  <div class="institution"><span>{{institute_key_uc}}</span></div>
  <div class="application"><span>{{application_title}}</span></div>
</header>
