<title>{{ bobcat_title }}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="Sun, 06 Nov 1994 08:49:37 GMT" />
<link rel="stylesheet" type="text/css" href="{{institutional_stylesheet}}" />
<script src="/assets/application.js" type="text/javascript"></script>
