<nav id="nav1" class="breadcrumb">
  <ul class="nyu-breadcrumbs">
    <li><a href="{{parent_url}}">{{parent}}</a></li>
    <li><a href="{{bobcat_url}}">{{bobcat}}</a></li>
    <li>{{application_title}}</li>
  </ul>
</nav>
