<h2>
  NYU Users with a NetID
  <a class="nyulibraries-help nyulibraries-help-icon" href="https://library.nyu.edu/info/bobcat/netid.html" target="_blank">
    help
  </a>
</h2>
<p class="shibboleth-button-container">
  <a href="/Shibboleth.sso/Login?target={{current_url}}" class="btn shibboleth">Click to Login</a>
</p>
