<h2>
  NYU Users with a NetID
  <a class="nyulibraries-help-snippet" href="https://library.nyu.edu/info/bobcat/netid.html" target="_blank">
    <i class="icons-famfamfam-help"></i>
  </a>
</h2>
<div>
  <a href="" class="btn shibboleth">SHIBBOLETH!</a>
</div>
