<!DOCTYPE html>
<html>
  <head>
    <title>{{bobcat_title}}</title>
    {{> common/meta}}
    <link rel="stylesheet" type="text/css" href="{{institutional_stylesheet}}" />
  </head>
  <body>
    {{> common/header}}
    {{> common/nav}}
    <div class="nyu-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <h1>Please login to access library services.</h1>
          </div>
          {{> nyu/body}}
        </div>
      </div>
    </div>
    {{> common/footer}}
  </body>
</html>
