<!DOCTYPE html>
<html>
  <head>
    {{> ./common/meta}}
    <script type="text/javascript">
      // Unescape the HTML entities that mustache escaped
      var target_url = $("<var/>").html("{{target_url}}").text();
      window.location = "/Shibboleth.sso/Login?isPassive=true&target=" + target_url;
    </script>
  </head>
  <body>
    {{> ./common/header }}
    {{> ./common/nav }}
    <h1 class="nyu-container container-fluid"><a href="/Shibboleth.sso/Login?isPassive=true&amp;target={{target_url}}">Click to continue</a></h1>
    {{> ./common/footer }}
  </body>
</html>
