label {
  margin-left: 0px;
}

.shibboleth {
  height: 160px;
  width: 150px;
  line-height: 290px;
  font-size: 20px;
  color: $linkColor;
  background-repeat: no-repeat;
  background-color: darken(whitesmoke, 10%);
  @include background-image(image-url("nyu.png"),linear-gradient(color-stops(darken(whitesmoke, 10%), darken(whitesmoke, 5%))));
  background-position: center 6px;
  &:hover, &:focus {
    color: $linkColor;
    text-decoration: underline;
    background-image: image-url("nyu.png");
    background-position: center 6px;
  }
  &:active {
    background-image: image-url("nyu.png");
  }
}

a.nyulibraries-help-icon {
  font-size: 12px;
  font-weight: normal;
  padding: 7px 3px;
  background-color: white;
  color: $linkColor;
  vertical-align: top;
  border: 1px solid $linkColor;
  @include border-radius(20px);
  &:hover, &:focus, &:active {
    // text-decoration: none;
  }
}

h2 .popover-content {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: normal;
  max-height: 280px;
  overflow: -moz-scrollbars-vertical; 
  -ms-overflow-y: scroll; 
  overflow-y: scroll; 
}

.popover {
  max-width: 300px;
  max-height: 300px;
}

// Phones to tablets
@media (max-width: 767px) {
  // Adjust spacing to match breadcrumbs, etc.
  .nyu-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
