<!DOCTYPE html>
<html>
  <head>
    {{> ../common/meta}}
  </head>
  <body>
    {{> ../common/header }}
    {{> ../common/nav }}
    {{> ../common/page_header }}
    {{> ../common/body }}
    {{> ../common/help/privileges }}
    {{> ../common/footer }}
  </body>
</html>
